.tittle{
    font-weight: bold;
    color: orange;
    font-size: 18px;
}

.input{
    padding: 10px;
    width: 200px;
    height: 15px;
    border: none;
    background: #ecf0f1;
    border-radius: 3px;
    margin: 5px;
}
.button{
    color: white;
    padding: 10px;
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color:  orange;
    margin: 10px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


